.roomsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100vh - 8rem);
  justify-content: space-between;
}
.card {
  background-color: var(--purple);
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: white 0 0 5px 1px;
  cursor: pointer;
}

.roomsContainer a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  color: gold;
}
.createRoomForm {
  align-self: flex-end;
  background-color: var(--modal-black);
  padding: 15px;
  border-radius: 10px;
}
.createRoomForm h3 {
  margin-left: 20px;
}
