.addMessageContainer {
  width: 100%;
  display: flex;
  flex: 1;
}
.addMessageContainer form > div {
  display: flex;
  width: 100%;
}

.addMessageContainer input {
  margin: 1rem;
  padding: 1rem;
  flex: 6;
  font-size: 1rem;
  border-radius: 3em;
  border: none;
}
.addMessageContainer button {
  padding: 1rem;
  background-color: var(--purple);
  border: none;
  border-radius: 3em;
  flex: 1;
  height: max-content;
  align-self: center;
  color: white;
  cursor: pointer;
}
.addMessageContainer button:disabled {
  color: lightgray;
  background-color: grey;
  cursor: default;
}
